@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/loginStyle.css">

<div class="login-form" >
    <div class="container">
        <div class="main">
            <div class="content">
                <h2 class="login">Login</h2>
                <h2 class="register">Register</h2>
                <form id="loginForm" class="login" action="" method="post" >

                    <input type="text" id="username" name="" placeholder="User Name" required autofocus="" >
                    <input type="password" id="password" name="" placeholder="User Password" required autofocus="">
                    <button class="btn" type="submit">
                        Login
                    </button>


                </form>
                <form id="registerForm" class="register" action="" method="post">

                    <input type="text" id="usernameRegister" name="" placeholder="User Name" required autofocus="">
                    <input type="email" id="email" name="" placeholder="E-mail" required autofocus="">
                    <input type="password" id="password1" name="" placeholder="Password" required autofocus="">
                    <input type="password" id="password2" name="" placeholder="Confirm Your Password" required autofocus="">
                    <button class="btn" type="submit">
                        Register
                    </button>


                </form>
                <p class="account login">Don't Have An Account? <a href="#" id="registerLink">Register</a></p>
                <p class="account register">Already Have An Account? <a href="#" id="loginLink">Login</a></p>
                <p class="message"></p>

            </div>
            <div class="form-img login">
                <p class="account">Or Login Using Your QR Code</p>
            </div>
            <div class="form-img register">
                <p class="account">After Creating Your Account, You Will Receive Your QR Code</p>
            </div>

        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#loginForm').on('submit', function (e) {
            e.preventDefault();

            var username = $('#username').val();
            var password = $('#password').val();

            $.ajax({
                url: '/Login/LogOn',
                type: 'POST',
                data: {
                    username: username,
                    password: password
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = '/Home/Index';
                    } else {
                        $('.message').html('<span style="color:red;">' + data.message + '</span>');
                    }
                },
                error: function (xhr, status, error) {
                    console.log('Erro no login:', error);
                    alert('Ocorreu um erro ao tentar fazer o login.');
                }
            });
        });
    });

    $(document).ready(function () {
        $('#registerForm').on('submit', function (e) {
            e.preventDefault();

            var username = $('#usernameRegister').val();
            var email = $('#email').val();
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();

            $.ajax({
                url: '/Login/Register',
                type: 'POST',
                data: {
                    username: username,
                    email: email,
                    password1: password1,
                    password2: password2
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = '/Home/Index';
                    } else {
                        $('.message').html('<span style="color:red;">' + data.message + '</span>');
                    }
                },
                error: function (xhr, status, error) {
                    console.log('Erro no Registro:', error);
                    alert('Ocorreu um erro ao tentar Registrar.');
                }
            });
        });
    });

    $('#registerLink').on('click', function (e) {
        e.preventDefault();
        $('.login').css('display', 'none');
        $('.register').css('display', 'block');
        $('.content').css('height', 520);
    });

    $('#loginLink').on('click', function (e) {
        e.preventDefault();
        $('.register').css('display', 'none');
        $('.login').css('display', 'block');
        $('.content').css('height', 400);

    });

</script>
