<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - qrCodeLogin</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/qrCodeLogin.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://kit.fontawesome.com/4327c32687.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar fixa com largura definida -->
            <div class="col-auto bg-light shadow-sm sidebar-fixed" style="width: 200px; border-top-right-radius: 70px; border-bottom-right-radius: 70px; padding-top: 30px;">
                <div class="d-flex flex-column align-items-start">
                    <ul class="nav nav-pills nav-flush flex-column mb-auto mx-auto">
                        <li>
                            <a href="/Home" class="nav-link link-dark py-3 px-2 d-flex align-items-center" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                                <i class="bi-house fs-4"></i>
                                <span class="title ms-2">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark py-3 px-2 d-flex align-items-center" title="Notificações" data-bs-toggle="tooltip" data-bs-placement="right">
                                <i class="bi-heart fs-4"></i>
                                <span class="title ms-2">Notificações</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Usuarios" class="nav-link link-dark py-3 px-2 d-flex align-items-center" title="Usuários" data-bs-toggle="tooltip" data-bs-placement="right">
                                <i class="bi-people fs-4"></i>
                                <span class="title ms-2">Usuários</span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="#" class="nav-link link-dark py-3 px-2 d-flex align-items-center" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false" title="Perfil">
                                    <i class="bi-person fs-4"></i>
                                    <span class="title ms-2">Perfil</span>
                                </a>
                                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                                    <li><a class="dropdown-item" href="#">Configurações</a></li>
                                    <li><a class="dropdown-item" href="#">Sair</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Conteúdo principal ajustado -->
            <div class="col p-3" style="margin-left: 200px;">
                <div class="container" style="margin-top: 50px">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .navbar-nav .nav-link {
        color: white;
    }

        .navbar-nav .nav-link:hover {
            color: #f8f9fa;
        }

    .navbar-brand {
        color: white;
    }

    body {
        background-color: #dedbea;
    }

    .text-reset {
        color: inherit;
        font-size: 1rem;
    }

    .title {
        margin-left: 10px;
    }

    .nav-link:hover {
        background-color: #f0f0f0;
    }

    /* Estilo para manter a sidebar fixa */
    .sidebar-fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100vh;
    }
</style>
